In [1]:
import pandas as pd
import zipfile

# Ruta local al archivo zip (ajústala si es diferente)
zip_path = 'C:/Users/evivas/Downloads/Datos_icfes_analitica.zip'

# Abrir el zip y leer el CSV dentro (ajusta el nombre del archivo si cambia)
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    with zip_ref.open('Datos_icfes.csv') as file:
        df = pd.read_csv(file)

df.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,partition_0
0,20172,CC,SB11201720219629,URBANO,NaN,A,ACADÉMICO,113433000021,113433000021,13,...,No,Si,A-,45.0,39.0,50,48,49,232,saber11-2017
1,20172,TI,SB11201720548913,RURAL,NaN,A,ACADÉMICO,241396000536,241396000536,41,...,No,Si,A-,36.0,50.0,45,48,49,235,saber11-2017
2,20172,TI,SB11201720208875,URBANO,N,A,TÉCNICO,176403000079,176403000079,76,...,Si,Si,A1,48.0,53.0,54,52,59,270,saber11-2017
3,20172,TI,SB11201720311306,URBANO,N,A,TÉCNICO,113468001038,113468001038,13,...,No,Si,A-,45.0,52.0,56,51,58,268,saber11-2017
4,20172,TI,SB11201720424646,RURAL,N,A,TÉCNICO/ACADÉMICO,273268001120,273268001120,73,...,Si,Si,A-,37.0,46.0,48,51,46,235,saber11-2017